/* You can add global styles to this file, and also import other style files */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 26px;
    margin: 0;
}

header {
    width: 100%;
    height: 65px;
    background: #008DA9;
    color: #FFFFFF;
    align-items: center;

    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr 1fr;
}

.header-title {
    grid-column: 2 / 3;
}

.header-title:hover {
    color:#EEEEEC;
    cursor: pointer;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-profile {
    grid-column: 3 / 4;
    justify-self: end;

    background: #EEEEEC;
    color: #008DA9;
    border-radius: 50%;
    padding: 7px 10px;
}

.header-profile:hover {
    background-color: #FFFFFF;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
    ". content .";
}

.grid-center {
    grid-area: content;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 65px;
    background: #D4D0C7;
}

.label {
    background: #D4D0C7;
    padding: 10px;
    justify-content: center;
    display: flex;
}

.textbox {
    background: #FFFFFF;
    border: 3px solid #005C7B;
    font-size: 26px;
}

.btn {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    font-size: 28px;
    padding: 10px 10px;
    width: 7em;
    margin: 2em 0.5em;
}

.btn-primary {
    border: 3px solid #005C7B;
    background: #05BAC5;
    color: #FFFFFF;
}

.btn-primary:hover {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.btn-primary:active {
    background: #005C7B;
}

.btn-secondary {
    background: #EEEEEC;
    border: 3px solid #D4D0C7;
}
.btn-secondary:hover{
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.btn-secondary:active{
    background: #FFFFFF;
}