<div class="title center">Авторизація</div>
<div class="text center">Вітаю! Перед тим, як увійти в систему, будь ласка, введіть свій логін та пароль.</div>
<div class="grid-form">
    <div class="label">Email</div>
    <input class="textbox" type="text">
    <div class="label">Пароль</div>
    <input class="textbox" type="text">
</div>
<div class="center">
    <input type="submit" class="btn btn-primary" value="Підтвердити">
    <a class="center btn btn-secondary">Відмінити</a>
</div>
<div></div>