.center {
    justify-content: center;
    display: flex;
}

.title {
    margin: 1em;
    font-weight: 700;
    font-size: 36px;
}

.text {
    margin: 1.5em, 0px;
    text-align: center;
}

.grid-form {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 5fr 9fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 25px;
    column-gap: 10px;
}

.textbox:hover {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

