<div class="center caption">Реєстрація</div>
<form class="grid-form">
    <label class="label">Прізвище</label>
    <input class="textbox" type="text">
    <label class="label">Ім'я</label>
    <input class="textbox" type="text">
    <label class="label">По батькові</label>
    <input class="textbox" type="text">
    <label class="label">Дата народження</label>
    <input class="textbox" type="text">
    <label class="label">Номер паспорта</label>
    <input class="textbox" type="text">
    <label class="label">Серія паспорта</label>
    <input class="textbox" type="text">
    <label class="label">Дата видачі паспорта</label>
    <input class="textbox" type="text">
    <label class="label">Орган видачі</label>
    <input class="textbox" type="text">
    <label class="label">РНОКПП</label>
    <input class="textbox" type="text">
    <label class="label">Email</label>
    <input class="textbox" type="text">
    <label class="label">Посада</label>
    <input class="textbox" type="text">
    <label class="label">Організація</label>
    <input class="textbox" type="text">
    <label class="label">Роль</label>
    <input class="textbox" type="text">
    <label class="label">Пароль</label>
    <input class="textbox" type="text">
    <label class="label">Підтвердження паролю</label>
    <input class="textbox" type="text">
</form>
<div class="center">
    <input type="submit" class="btn btn-primary" value="Підтвердити">
    <a class="center btn btn-secondary">Відмінити</a>
</div>
<br>